<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BLL.Properties.Settings.TourismManage3ConnectionString"
            connectionString="Data Source=DESKTOP-60OJDK8;Initial Catalog=TourismManage3;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BLL.Properties.Settings.TourismManage3ConnectionString1"
            connectionString="Data Source=LAPTOP-GKNTKFSD\SQLEXPRESS;Initial Catalog=TourismManage3;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BLL.Properties.Settings.TourismManageConnectionString"
            connectionString="Data Source=LAPTOP-GKNTKFSD\SQLEXPRESS;Initial Catalog=TourismManage;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>