
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Create</h2>
<a href="@Url.Action("Details", "HopDong", new { id = Session["MaHopDong"] })" class="btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Xem chi tiết</a>

